.plugin-licenses-overview{
	display: flex; 
	flex-flow: column nowrap;
	padding: 0;
	margin: 0;

	.license{
		display: flex; 
		flex-flow: row wrap;

		input{
			padding: .6rem 1.2rem;
			width: 100%;
		}

		label{ 
			flex: 1 100%;
		}
	}
}
